<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator
>
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Admin Portal (JobSeeker)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .table-hover > tbody > tr:hover > td,
        .table-hover > tbody > tr:hover > th {
            background-color: #d1d1e0;
        }

        .active {
            background-color: #434343;
            color: white;
        }
        .bg-color{
	         background-color: lightblue;
	
         }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <nav th:fragment="menu" class="col-md-2 d-none d-md-block bg-light sidebar"  style="width:50px;height:700px">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="nav-link" href="/">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:classappend="${#httpServletRequest.getRequestURI().contains('/job')  ? 'active':''}"  class="nav-link" th:href="@{/job}">
                                <span data-feather="file"></span>
                                Manage Job
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:classappend="${#httpServletRequest.getRequestURI().contains('/user')  ? 'active':''}"  class="nav-link" th:href="@{/user}">
                                <span data-feather="file"></span>
                                Manage User
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().contains('/review')  ? 'active':''}"  th:href="@{/review}">
                                <span data-feather="file"></span>
                                Review Job
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI().contains('/expire')  ? 'active':''}"  th:href="@{/expire}">
                                <span data-feather="file"></span>
                               Expired Job
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>


            <h2>Recent Job</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1,001</td>
                        <td>Lorem</td>
                        <td>ipsum</td>
                        <td>dolor</td>
                        <td>sit</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        feather.replace()
    </script>
</th:block>

</body>
</html>